@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#main-header {
  width: 100%;
  height: 80px;
  background-color: #2b2d42;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-header-container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header-left {
  padding-left: 50px;
  width: 30%;
  background-color: #2b2d42;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#main-header-right {
  padding-right: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

table {
  border-collapse: collapse;
  width: 1350px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-collapse: separate;
  border-spacing: 0 10px;
}

td {
  border: solid 1px #000;
  border-style: none solid solid none;
}

tr {
  height: 80px;
}

tr:first-child td:first-child {
  border-top-left-radius: 10px;
}
tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
tr:first-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:first-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
tr:last-child td:first-child {
  border-top-left-radius: 10px;
}
tr:last-child td:last-child {
  border-top-right-radius: 10px;
}

tr:first-child td {
  border-top-style: solid;
}
tr td:first-child {
  border-left-style: solid;
}

.data-left-side {
  text-align: center;
  min-width: 199px;
  background-color: #edf2f4;
}

.data-pet-name {
  width: 300px;
  text-align: center;
  background-color: #edf2f4;
}

.data-user-name {
  width: 554px;
  text-align: center;
  background-color: #edf2f4;
}

.action-right-side {
  width: 300px;
  display: flex;
  min-height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: #edf2f4;
}

.delete-btn {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: rgb(242, 242, 242);
  background-color: #d00000;
}

.edit-btn {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: rgb(232, 232, 232);
  background-color: #40916c;
}

.form-section {
  width: 1350px;
}

.table-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row-header {
  display: flex;
  background-color: #8d99ae;
  width: 1350px;
  border-radius: 5px;
  height: 80px;
}

#table-container {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

form {
  width: 1440px;
  max-width: 1440px;
}

th {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: larger;

  width: 362px;
}

.table-row-header-left {
  border-radius: 10px 0px 0px 0px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #edf2f4;
  font-size: 18px;
  color: #2b2d42;
}

.table-row-header-right {
  border-radius: 0px 10px 0px 0px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #edf2f4;
  font-size: 18px;
  color: #2b2d42;
}

.table-row-header-middle-right {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #edf2f4;
  font-size: 18px;
  color: #2b2d42;
}

.table-row-header-middle-left {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #2b2d42;
}

td {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border: 1px solid #d9d9d9;
}

.user-number {
  max-width: 100px;
}

.user-number-row {
  width: 100px;
}

.add-user-btn {
  margin-bottom: 5%;
  padding: 5%;
  width: 45%;
  font-family: "Montserrat", sans-serif;
  background-color: #059862;
  font-size: 1em;
  color: white;
  border-radius: 8px;
  border: none;
  transition: 0.6s;
}

.user-count {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #edf2f4;
  border: 1px solid #d9d9d9;
}

.new-input-section {
  padding-top: 30px;
  width: 1350px;
  display: flex;
}

.new-input-container {
  display: flex;
}

.input-area {
  width: 270px;
  height: 50px;
  margin-right: 22px;
  border-radius: 10px;
  border: 1px solid #979dac;
  font-size: 16px;
}

.input-area-select {
  width: 200px;
  height: 52px;
  margin-right: 22px;
  border-radius: 10px;
  border: 1px solid #979dac;
  font-size: 16px;
}

.add-button {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  width: 240px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #979dac;
  font-size: 16px;
  background-color: #49a57c;
  color: white;
}

.add-button:hover {
  cursor: pointer;
}

input {
  text-indent: 10px;
}

select {
  text-indent: 10px;
}

.footer-exit-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  height: 50px;
  background-color: #d00000;
  border-radius: 10px;
}

.exit-button {
  color: white;
  text-decoration: none;
}

.footer-nd-row {
  width: 1350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 80px;
  background-color: #2b2d42;
  color: white;
  text-align: center;
}
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  height: 100%;
  width: 1440px;
  background-color: #2b2d42;
  display: flex;
  align-items: center;
}

.footer-container-right
{
    padding-right: 50px;
}

.footer-container-left
{
    padding-left: 50px;
}
